USE [master]
GO
/****** Object:  Database [taxi]    Script Date: 7/20/2017 5:11:59 PM ******/
CREATE DATABASE [taxi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taxi', FILENAME = N'C:\Users\Admin\Desktop\Taxi\Database\Taxi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'taxi_log', FILENAME = N'C:\Users\Admin\Desktop\Taxi\Database\Taxi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taxi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taxi]
GO
USE [taxi]
GO
/****** Object:  Table [dbo].[tblCars]    Script Date: 7/20/2017 5:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [nvarchar](50) NULL,
	[IdentityNumber] [nvarchar](50) NULL,
	[CarColor] [nvarchar](50) NULL,
	[DriverID] [int] NULL,
 CONSTRAINT [PK_tblCars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCustomers]    Script Date: 7/20/2017 5:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[CreateDate] [nvarchar](50) NULL,
	[TellNumber] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCustomers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMessages]    Script Date: 7/20/2017 5:11:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMessages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](255) NULL,
	[Sender] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Time] [nvarchar](50) NULL,
	[ServiceID] [int] NULL,
	[FeedBackRate] [int] NULL,
 CONSTRAINT [PK_tblMessages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRoutes]    Script Date: 7/20/2017 5:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoutes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DestinationName] [nvarchar](50) NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_tblRoutes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblServiceCars]    Script Date: 7/20/2017 5:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceCars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[Payed] [bit] NOT NULL,
 CONSTRAINT [PK_tblServiceCars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblServices]    Script Date: 7/20/2017 5:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[FullName] [nvarchar](255) NULL,
	[Tellnumber] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Time] [nvarchar](50) NULL,
	[OperatorID] [int] NULL,
 CONSTRAINT [PK_tblServices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 7/20/2017 5:12:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Tellnumber] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[Picture] [image] NULL,
	[UserType] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tblUsers]    Script Date: 7/20/2017 5:12:00 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tblUsers] ON [dbo].[tblUsers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblServiceCars] ADD  CONSTRAINT [DF_tblServiceCars_Payed]  DEFAULT ((0)) FOR [Payed]
GO
ALTER TABLE [dbo].[tblCars]  WITH CHECK ADD  CONSTRAINT [FK_tblCars_tblUsers] FOREIGN KEY([DriverID])
REFERENCES [dbo].[tblUsers] ([ID])
GO
ALTER TABLE [dbo].[tblCars] CHECK CONSTRAINT [FK_tblCars_tblUsers]
GO
ALTER TABLE [dbo].[tblMessages]  WITH CHECK ADD  CONSTRAINT [FK_tblMessages_tblServices] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tblServices] ([ID])
GO
ALTER TABLE [dbo].[tblMessages] CHECK CONSTRAINT [FK_tblMessages_tblServices]
GO
ALTER TABLE [dbo].[tblServiceCars]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceCars_tblCars] FOREIGN KEY([CarID])
REFERENCES [dbo].[tblCars] ([ID])
GO
ALTER TABLE [dbo].[tblServiceCars] CHECK CONSTRAINT [FK_tblServiceCars_tblCars]
GO
ALTER TABLE [dbo].[tblServiceCars]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceCars_tblRoutes] FOREIGN KEY([RouteID])
REFERENCES [dbo].[tblRoutes] ([ID])
GO
ALTER TABLE [dbo].[tblServiceCars] CHECK CONSTRAINT [FK_tblServiceCars_tblRoutes]
GO
ALTER TABLE [dbo].[tblServiceCars]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceCars_tblServices] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tblServices] ([ID])
GO
ALTER TABLE [dbo].[tblServiceCars] CHECK CONSTRAINT [FK_tblServiceCars_tblServices]
GO
ALTER TABLE [dbo].[tblServices]  WITH CHECK ADD  CONSTRAINT [FK_tblServices_tblCustomers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[tblCustomers] ([ID])
GO
ALTER TABLE [dbo].[tblServices] CHECK CONSTRAINT [FK_tblServices_tblCustomers]
GO
ALTER TABLE [dbo].[tblServices]  WITH CHECK ADD  CONSTRAINT [FK_tblServices_tblUsers] FOREIGN KEY([OperatorID])
REFERENCES [dbo].[tblUsers] ([ID])
GO
ALTER TABLE [dbo].[tblServices] CHECK CONSTRAINT [FK_tblServices_tblUsers]
GO
USE [master]
GO
